{% extends "layout.html" %}

{% block title %}Art gallery{% endblock %}

{% block content %}
  <h2>Edit comment</h2>
  <form action="/edit_comment/{{ comment.id }}" method="post">
      <p>
        <label for="content">Comment</label>:<br />
        <textarea id="content" name="content" rows="4" cols="40">{{ comment.content }}</textarea>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      </p>
      <input type="submit" value="Save changes" />
  </form>
{% endblock %}