<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <header>
    <h1>Art gallery</h1>
  </header>

  {% for message in get_flashed_messages() %}
  <p class="info">
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  {% if session.user_id %}
  <p class="signed">
    Signed in as <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
  </p>
  {% endif %}


  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Front page</a></li>
        <li><a href="/find_post">Search post</a></li>
        {% if session.user_id %}
          <li><a href="/new_post">New post</a></li>
          <li><a href="/logout">Sign out</a></li>
        {% else %}
          <li><a href="/login">Sign in</a></li>
          <li><a href="/register">Sign up</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>