{% extends "layout.html" %}

{% block title %}Art gallery{% endblock %}

{% block content %}
  <h2>Sign in</h2>
  {% if session.username %}
  <p>
    Signed in as {{ session.username }}
  </p>
  <p>
    <a href="/logout">Sign out</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" value="{{ filled.username }}" maxlength="16" pattern="^\S+$" required/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" minlength="8" maxlength="30" pattern="^\S+$" required/>
    </p>
    <input type="submit" value="Sign in" />
  </form>
  {% endif %}
{% endblock %}