<!DOCTYPE html>
<html>

<head>
  <title>New post</title>
</head>

<body>
  <h1>New post</h1>
  <form action="/create_post" method="post">
    <p>
      Title: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Description: <br />
      <textarea name="description" rows="6" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
      Art form: <br />
      <select name="art form">
        <option value="">(choose)</option>
        <option value="painting">Painting</option>
        <option value="photography">Photography</option>
        <option value="sculpture">Sculpture</option>
        <option value="drawing">Drawing</option>
        <option value="ceramics">Ceramics</option>
        <option value="textile arts">Textile arts</option>
        <option value="digital art">Digital art</option>
        <option value="printmaking">Printmaking</option>
        <option value="collage">Collage</option>
        <option value="mosaic">Mosaic</option>
        <option value="writing">Writing</option>
      </select>
    </p>
    <input type="submit" value="Post artwork" />
  </form>
  <p>
    <a href="/">Back</a>
  </p>
</body>

</html>