<!DOCTYPE html>
<html>

<head>
  <title>{{ post.title }}</title>
</head>

<body>
  <h1>{{ post.title }}</h1>
  {% if session.user_id == post.user_id %}
  <p>
    <a href="/edit_post/{{ post.id }}">Edit</a>
    <a href="/remove_post/{{ post.id }}">Remove</a>
  </p>
  {% endif %}
  <p>
    {{ post.description }}
  </p>
  <p>
    Poster: <a href="/user/{{post.user_id}}">{{ post.username }}</a>
  </p>

  {% if categories %}
  <p>
    Art forms:
  </p>
  <ul>
    {% for category in categories %}
      <li>{{ category.name }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <p>
    <a href="/">Back</a>
  </p>
</body>

</html>